body {
    margin: 0;
    padding: 0;
}
.contacts-container {
    display: flex;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.contacts-container__contact {
    background-color: gold;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid 2px;
    width: auto;
    padding: 10px 20px;
    margin: 10px;
}

.contacts-container__phone-email {
    display: flex;
    flex-direction: column;
    align-items: center;
}


